/*html{filter:gray;}*/
body, td, th {
    font-family: 'Microsoft Yahei',arial,SimSun,sans-serif;
    font-size: 14px;
    color: #333;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #f8f8f8;
}

div, form, img, ul, dl, dt, dd {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

li {
    list-style-type: none;
}

em {
    font-style: normal;
}

.divWidth {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

    .divWidth:after {
        content: ".";
        display: block;
        height: 0px;
        clear: both;
        visibility: hidden;
    }

.divLeft {
    margin-left: auto;
    margin-right: auto;
    float: left;
    text-align: left;
}

    .divLeft:after {
        content: ".";
        display: block;
        height: 0px;
        clear: both;
        visibility: hidden;
    }

.divRight {
    margin-left: auto;
    margin-right: auto;
    float: right;
}

    .divRight:after {
        content: ".";
        display: block;
        height: 0px;
        clear: both;
        visibility: hidden;
    }

.fontEN {
    font-size: 10px;
    color: #b8b8b8;
    font-weight: normal;
}

.table {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.divHide {
    display: none;
}

.spanLine {
    font-size: 12px;
    color: #333;
    font-family: Courier New,arial,SimSun,sans-serif;
    padding-left: 7px;
    padding-right: 7px;
}

.normalTable {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}

.normalTableNoWidth {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.MoreWhiteBg {
    background-color: white;
    /*border: 1px solid #ebebeb;*/
    padding: 10px;
    overflow: hidden;
    text-align: right;
    word-break: break-all;
    word-wrap: break-word;
}

    .MoreWhiteBg a {
        font-weight: bold;
        color: #000;
    }

.divHeadIE {
    background-color: #fdffe3;
    border: 1px solid #e70012;
    text-align: left;
    padding: 8px;
    font-size: 12px;
    line-height: 180%;
}

/* Link */
a:link {
    color: #666;
    text-decoration: none;
    font-size: 12px;
}

a:visited {
    color: #666;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    color: #e70012;
    text-decoration: underline;
    font-size: 12px;
}

a:active {
    color: #666;
    font-size: 12px;
    text-decoration: underline;
}

a.red:link {
    color: #e70012;
    text-decoration: none;
    font-size: 14px;
}

a.red:visited {
    color: #e70012;
    text-decoration: none;
    font-size: 14px;
}

a.red:hover {
    color: #e70012;
    text-decoration: underline;
    font-size: 14px;
}

a.red:active {
    color: #e70012;
    font-size: 14px;
    text-decoration: underline;
}

a.blackB:link {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight:bold;
}

a.blackB:visited {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

a.blackB:hover {
    color: #e70012;
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
}

a.blackB:active {
    color: black;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
}
/* end Link */

/* head */
.searchInputText {
    font-family: 'Microsoft Yahei',arial,SimSun,sans-serif;
    font-size: 14px;
    color: #666;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    width: 320px;
    border-radius: 5px;
    background-image: url('http://www.shangtuf.com/images/search.png');
    background-position-x: left;
    background-repeat: no-repeat;
    height: 32px;
    line-height: 32px;
}

.headImgTable {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

    .headImgTable td {
        border-width: 0px;
        text-align: center;
        font-size: 12px;
        padding: 0 0 0 20px;
    }

        .headImgTable td img {
            height: 50px;
            border: 0;
            cursor: pointer;
        }

.headNav {
    padding: 20px 0 15px 0;
}

    .headNav a:link {
        color: #000;
        text-decoration: none;
        font-size: 16px;
    }

    .headNav a:visited {
        color: #000;
        text-decoration: none;
        font-size: 16px;
    }

    .headNav a:hover {
        color: #e70012;
        text-decoration: underline;
        font-size: 16px;
    }

    .headNav a:active {
        color: #000;
        font-size: 16px;
        text-decoration: underline;
    }

    .headNav span {
        font-size: 12px;
        color: #c5c5c5;
        padding: 0 6px 0 6px;
        text-align: center;
    }

.headscrollTop {
    background-color: white;
    padding-top: 25px;
    width: 100%;
    z-index: 99999;
    top: 0px;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: #666 0px 0px 7px;
    -moz-box-shadow: #000 0px 0px 7px;
    box-shadow: #666 0px 0px 7px;
    behavior: url(http://www.shangtuf.com/PIE.htc);
}
/* end head */

/* bottom */
.navTopBottom {
    background-color: #e70012;
    bottom: 50px;
    position: fixed;
    width: 40px;
    display: none;
}

.navTopLi {
    padding: 5px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

    .navTopLi a {
        font-size: 14px;
        color: white;
        text-decoration: none;
    }

.navTopDarkLi {
    padding: 5px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    background-color: #666;
    cursor: pointer;
    text-align: center;
}

    .navTopDarkLi a {
        font-size: 14px;
        color: white;
        text-decoration: none;
    }

.navtopLine {
    height: 1px;
    background-color: white;
    font-size: 0;
}
/* bottom */

/*index*/
.ad4Table {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}

    .ad4Table td img {
        width: 290px;
    }

.leftTitleUnderLineRed {
    padding: 15px 0 25px 0;
}

    .leftTitleUnderLineRed span {
        color: black;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 5px;
        border-bottom: 3px solid #e70012;
    }
/*index*/

/* news */
a.webClass:link {
    color: #333;
    font-size: 16px;
    text-decoration: none;
}

a.webClass:visited {
    color: #333;
    font-size: 16px;
    text-decoration: none;
}

a.webClass:hover {
    color: #fb3434;
    font-size: 16px;
    text-decoration: underline;
}

a.webClass:active {
    color: #333;
    font-size: 16px;
    text-decoration: underline;
}

.navClassTable {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

    .navClassTable td {
        text-align: right;
        padding: 10px 0 10px 10px;
    }

    .navClassTable a:link {
        font-size: 14px;
    }

.bigTitle {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    height: 40px;
    line-height: 40px;
}

.hrLine {
    background-image: url(http://www.shangtuf.com/images/linebg.gif);
    background-repeat: repeat-x;
    height: 20px;
    background-position: center;
}

.hrLinePoint {
    background-image: url(http://www.shangtuf.com/images/line.jpg);
    background-repeat: repeat-x;
    height: 20px;
    background-position: center;
}

.newsRead {
    font-size: 16px;
    line-height: 28px;
    word-wrap: break-word;
    word-break: break-all;
}

    .newsRead p, .newsRead span, .newsRead br, .newsRead a:link, .newsRead a:visited, .newsRead a:hover {
        font-size: 16px;
        line-height: 28px;
        word-wrap: break-word;
        word-break: break-all;
        color: #333;
    }

        .newsRead p img {
            max-width: 770px;
            background-color: #ffffff;
            padding: 10px;
        }

.newsList {
    font-size: 14px;
    padding: 3px 3px 0 8px;
}

    .newsList li {
        line-height: 22px;
        text-align: left;
        padding-bottom: 2px;
        text-overflow: ellipsis;
    }

        .newsList li span {
            font-size: 14px;
            color: #cbcbcb;
            padding-right: 5px;
        }

        .newsList li a:link {
            color: #303030;
            text-decoration: none;
            font-size: 14px;
        }

        .newsList li a:visited {
            color: #303030;
            text-decoration: none;
            font-size: 14px;
        }

        .newsList li a:hover {
            color: #e70012;
            text-decoration: underline;
            font-size: 14px;
        }

        .newsList li a:active {
            color: #303030;
            font-size: 14px;
            text-decoration: underline;
        }

.newsWhiteBg {
    background-color: white;
    border-radius: 4px;
    height: 240px;
    overflow: hidden;
}

.read12 {
    font-size: 12px;
    line-height: 22px;
    color: #666;
}

.news_cente_pic {
    padding: 10px 10px 5px 10px;
    background-color: white;
    height: 245px;
    overflow: hidden;
}

    .news_cente_pic img {
        width: 370px;
        min-height:245px;
    }

.newsListDate {
    font-size: 12px;
    color: #acacac;
}

    .newsListDate span {
        float: right;
        font-size: 11px;
        font-family: Courier New,arial,SimSun,sans-serif;
    }
/* end News*/

.height5px {
    height: 5px;
    font-size: 0px;
}

.height10px {
    height: 10px;
    font-size: 0px;
}

.height15px {
    height: 15px;
    font-size: 0px;
}

.height20px {
    height: 20px;
    font-size: 0px;
}

.width10px {
    width: 10px;
    font-size: 0px;
}

.width15px {
    width: 15px;
    font-size: 0px;
}

.redFont {
    color: Red;
    font-size: 12px;
}

.inputText {
    font-family: 'Microsoft Yahei',arial,SimSun,sans-serif;
    font-size: 14px;
    color: #333;
    text-align: left;
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 3px;
}

.inputTextIME {
    font-family: 'Microsoft Yahei',arial,SimSun,sans-serif;
    font-size: 14px;
    color: #333;
    text-align: left;
    background-color: #fff;
    border: 1px solid #dddddd;
    ime-mode: disabled;
    padding: 3px;
}

.inputSelect {
    font-family: 'Microsoft Yahei',arial,SimSun,sans-serif;
    font-size: 14px;
    color: #333;
    background-color: White;
    text-align: left;
    border: 1px solid #ddd;
    padding: 1px;
    margin: 1px;
    padding: 3px;
}

.showTable {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

    .showTable td {
        border-style: solid;
        border-width: 1px;
        border-color: #cccccc;
        padding: 4px;
        text-align: center;
    }


.hideTable {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

    .hideTable td {
        border-width: 0px;
    }

.imgLine {
    border: 1px dotted #efefef;
}

.title12 {
    color: black;
    font-weight: bold;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
}

.title14 {
    color: black;
    font-weight: bold;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}

.title18 {
    color: #000;
    font-size: 18px;
}

.title_center_line {
    padding:20px 0 20px 0;
}

    .title_center_line span {
        display: block;
        position: relative;
        color: black;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

        .title_center_line span:before, .title_center_line span:after {
            content: '';
            position: absolute;
            top: 50%;
            background: #b9b9b9;
            width: 43%;
            height: 2px;
        }

        .title_center_line span:before {
            left: 0px;
        }

        .title_center_line span:after {
            right: 0px;
        }

.title_small_left_line {
    background-color: white;
    width: 100%;
    border-radius: 4px;
}

    .title_small_left_line table {
        border: 0px;
        border-collapse: collapse;
        border-spacing: 0px;
    }

        .title_small_left_line table td {
            padding: 10px 0 10px 12px;
        }

    .title_small_left_line div {
        width: 16px;
        height: 16px;
        background-color: #e70012;
        border-radius: 3px;
    }

    .title_small_left_line span {
        padding: 0;
        font-size: 18px;
        font-weight: bold;
        color: black;
        height: 26px;
        margin: 0;
    }

/* pageCSS */
a.pageLinkPage:link {
    color: #888888;
    text-decoration: none;
    font-size: 14px;
}

a.pageLinkPage:visited {
    color: #888888;
    text-decoration: none;
    font-size: 14px;
}

a.pageLinkPage:hover {
    color: #e70012;
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
}

a.pageLinkPage:active {
    color: #888888;
    font-size: 14px;
    text-decoration: underline;
}

.pageTable {
    border: 0px;
}

    .pageTable td {
        min-width: 30px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        padding: 2px;
        word-break: keep-all;
        white-space: nowrap;
    }

.pageInput {
    font-family: 'Microsoft Yahei',arial,SimSun,sans-serif;
    font-size: 14px;
    color: #666666;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border: 1px solid #c7c7c7;
    background-color: White;
    width: 40px;
}

.pageButton {
    font-size: 14px;
    color: #666666;
    background-color: #efefef;
    font-family: 'Microsoft Yahei',arial,SimSun,sans-serif;
    padding: 4px 8px 4px 8px;
    border: 1px solid #c7c7c7;
    font-weight: bold;
    cursor: pointer;
}

.pageDiv {
    padding: 1px 5px 1px 5px;
    border: 1px solid #c7c7c7;
    text-align: center;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
}

.pageSelectPage {
    padding: 1px 3px 1px 3px;
    border: 1px solid #e70012;
    background-color: #e70012;
    color: White;
    text-align: center;
    line-height: 22px;
}
/* pageCSS */

/*layer*/
body .layer-jsAlert .layui-layer-title {
    font-size: 16px;
    font-weight: bold;
}

body .layer-jsAlert .layui-layer-btn a {
    font-size: 14px;
}
/*layer*/
